# Ansible
*.retry
.ansible/

# User-defined inventories
inventories/*
!inventories/example/

# Personal roles
roles/personal/*
!roles/personal/README.md

# Breaking change detection
state/*
!state/README.md